.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;    
    background-attachment: rgb(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;   
    background-color: #FFF;
}

.popup-content .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}
