.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    justify-content: center;
  }
  p {
    font-size:  x-large;    
    color:  var(--block-font);
  }
  a {
      font-size: large;
  }
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th,
  td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }
  